<!DOCTYPE HTML>
<html>
    <head>
        {% block head %}
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
        <title>{% block title %}{% endblock %} - Missi</title>
        {% endblock %}
    </head>
    <body>
        <div id="header" ><h1>Missi</h1></div>
        <nav>
            <a href="{{url_for('index')}}">Home</a>
            {% for conv in conversations %}
                // <a href="{{url_for('conversations')}}#{{conv.to}}">{{conv.to}}</a>
            {% endfor %}
            {% if not session.username %}// <a href="{{url_for('login')}}">Log In</a>
            {% else %} //<a href={{url_for('logout')}} >Log Out {{session.username}}</a>
            {% endif %}
        </nav>
        <div id="content">
            {% if get_flashed_messages() %}<div id="flashed">{% for msg in get_flashed_messages() %}{{msg}}{% endfor %}</div>{% endif %}
            {% block content %}{% endblock %}
        </div>
    </body>
</html>